[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "*"
marshmallow = "*"
pytest = "*"
requests = "*"
thoth-storages = "*"
amun = "*"
openshift = "*"

[dev-packages]

[requires]
python_version = "3.6"
