[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "*"
marshmallow = "*"
requests = "*"
thoth-storages = "*"
amun = "*"
openshift = "*"
thoth-common = {git = "https://github.com/thoth-station/common.git"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
